@import "fonts";
@import "variables";

@keyframes current-page-link-animation {
	0% {
		color: $primary-colour;
	}
	100% {
		color: $current-page-colour;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 125%;
	font-family: "Latin Modern Sans", sans-serif;
	body {
		h1, h2, h3, h4, h5, h6 {
			font-weight: bold;
			color: $dark-colour;
			font-family: "Latin Modern Serif", serif;
		}
		a {
			color: $link-colour;
			transition: color 0.5s;
			&:hover {
				color: $link-hover-colour;
			}
		}
		header, footer {
			text-align: center;
			width: 100%;
		}
		header {
			padding: 2vh 0;
			margin-bottom: 5vh;
			background-color: $very-dark-colour;
			box-shadow: 0 0 5px 1px $dark-shadow-colour;
			h1 {
				font-size: 2.5em;
				margin-bottom: 1vh;
				color: white;
			}
			nav {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;
				a {
					display: block;
					background-color: white;
					color: $nav-link-colour;
					text-decoration: none;
					padding: 0.5ex 0;
					margin: 1vh 1vw;
					width: 8em;
					font-family: "Latin Modern Sans", sans-serif;
					transition: color 0.5s;
					letter-spacing: 2px;
					&:hover {
						color: $primary-colour;
					}
					&#current-page {
						animation: 1s current-page-link-animation;
						color: $current-page-colour;
					}
				}
			}
		}
		main {
			margin: 1vh 5vw;
			h1 {
				font-size: 2em;
			}
			h2 {
				font-size: 1.5em;
			}
			.center {
				text-align: center;
			}
			.titles {
				text-align: center;
				h1 {
					display: inline-block;
					margin: 1vh 3%;
					padding: 0;
					font-size: 1.5em
				}
			}
			section {
				.entry {
					margin: 1vmin;
					padding: 1vmin;
					width: 100%;
				}
				.indent {
					margin-left: 1.5em;
				}
			}
			.horizontal-list {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				li {
					width: 50%;
					margin: 1vh 0;
				}
			}
			object {
				width: 100%;
				height: 70vh;
			}
			hr {
				margin: 3vh 0;
			}
		}
		footer {
			margin-top: 5em;
		}
	}
}
